
body {
    background-color: rgb(188, 187, 245);
}

.jumbotron {
     background-image: linear-gradient(to bottom, rgba(253, 249, 0, 0.6) 0%,rgba(168, 168, 248, 0.527) 100%), url("../images/gulf_sunset.jpg")!important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; /*cover*/
    position: relative;
    font-family: 'Caveat', cursive;
    border-radius: 0%;
}

h6 {
    margin: .5rem 1.5rem 0 1.5rem;
}
.sideBar{
    position: absolute;
    left: 0%;
    top: 15.25rem;
    bottom: 0%;
    font-size: 35px;
    background-color: rgb(168, 168, 248);
    margin: 0%;
    width: 10em;
    padding-right: 1rem;
    line-height: 1;
}

.search-input {
    align-self: center;
    margin-left: 1rem;
}

#search-btn {
    background-color: #c7c3f8;
}

.fas {
    font-size: 26px;
}

.fas:hover {
    transition: all .25s ease-in-out;
}

.card-container {
    margin-left: 25%;
    margin-right: 30%;
}

.curr-card {
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}

.five-day-cards {
    margin-top: 1rem;
    justify-content: center;
}

.five-card {
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}

.card-body {
    background-color: tan
}

#uv-index {
    width: 15%;
    margin-left: auto;
    margin-right: auto;
}

.cityList {
    width: 60%;
    font-size: 16px;
}

